### Author : Sanjoy Biswas
### Topic : Logistic Regression : Maritial Status Prediction
### Email : sanjoy.eee32@gmail.com

Logistic regression is one of the most popular Machine Learning algorithms, which comes under the Supervised Learning technique. It is used for predicting the categorical dependent variable using a given set of independent variables.

Logistic regression predicts the output of a categorical dependent variable. Therefore the outcome must be a categorical or discrete value. It can be either Yes or No, 0 or 1, true or False, etc. but instead of giving the exact value as 0 and 1, it gives the probabilistic values which lie between 0 and 1.

#### Type of Logistic Regression:
On the basis of the categories, Logistic Regression can be classified into three types:

Binomial: In binomial Logistic regression, there can be only two possible types of the dependent variables, such as 0 or 1, Pass or Fail, etc.
Multinomial: In multinomial Logistic regression, there can be 3 or more possible unordered types of the dependent variable, such as "cat", "dogs", or "sheep"
Ordinal: In ordinal Logistic regression, there can be 3 or more possible ordered types of dependent variables, such as "low", "Medium", or "High".

#### Steps in Logistic Regression: 
To implement the Logistic Regression using Python, we will use the same steps as we have done in previous topics of Regression. Below are the steps:

Data Pre-processing step

Fitting Logistic Regression to the Training set

Predicting the test result

Test accuracy of the result(Creation of Confusion matrix)

Visualizing the test set result.

#### Equation of Logistic Regression

In Logistic Regression y can be between 0 and 1 only, so for this let's divide the above equation by (1-y):

y/1-y       0 for y=1, infinity for y=o

But we need range between -[infinity] to +[infinity], then take logarithm of the equation it will become:

log(y/1-y)= b0+b1x1+b2x2+.....+bnxn

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### Import Dataset

In [2]:
df = pd.read_csv('F:\ML Algorithms By Me\Logistic Regression\marital status.csv')
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

#### Check Null Value

In [3]:
df.isnull().sum()

age       0
status    1
dtype: int64

#### Handle Null Value

In [4]:
handle = df['status'].median()

In [5]:
handle

0.0

In [6]:
df.status = df.status.fillna(handle)

In [7]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [8]:
df['status'].value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

#### Split Dependent and independent variable

In [9]:
x = df[['age']]
x

    age
0    21
1    33
2    24
3    28
4    17
5    33
6    23
7    30
8    29
9    22
10   26
11   20
12   22
13   24
14   34
15   29
16   16
17   18
18   26
19   25

In [10]:
y = df[['status']]
y

    status
0      0.0
1      1.0
2      0.0
3      1.0
4      0.0
5      1.0
6      0.0
7      0.0
8      1.0
9      0.0
10     1.0
11     0.0
12     0.0
13     0.0
14     1.0
15     1.0
16     0.0
17     0.0
18     1.0
19     1.0

#### Split Train and Test dataset

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [13]:
x_train

    age
8    29
5    33
11   20
3    28
18   26
16   16
13   24
2    24
9    22
19   25
4    17
12   22
7    30
10   26
14   34
6    23

In [14]:
x_test

    age
0    21
17   18
15   29
1    33

#### Apply Logistic Regression ALgorithm

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
model = LogisticRegression()

In [17]:
model.fit(x_train,y_train)

C:\Users\imsanjoykb\AppData\Roaming\Python\Python37\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [18]:
model.predict(x_test)

array([0., 0., 1., 1.])

In [19]:
model.score(x_train,y_train)

0.875

In [20]:
model.score(x_test,y_test)

1.0